.alarm-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.alarm {
    display: flex;
    flex-direction: column;
    background-color: #910000;
    color:white;
    padding: 10px;
    margin-bottom: 10px;
}

.delete-button {
    background-color: transparent;
    border: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    align-self: end;
}

.delete-button:hover {
    color: #000000;
}